.window.catalog .angle {
	border-color: transparent transparent #0060a1 transparent;
}
/* Оформление внешнего вида и размеров */
.window.catalog {
	position: absolute;
	top: 55px;
	left: 0;
	width: 900px;
	padding: 25px 15px 0;
	border-radius: 2px;
	box-shadow: 0 0 8px 0 #77848d;
}
/* Кнопка закрытия */
.close {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	background:url(/images/close.png);
	width:14px;
	height:14px;
	cursor: pointer;
}
/* Общие свойства списка */
.window.catalog > ul {
	float: left;
	margin-right: 12px;
	list-style: none;
	margin-bottom: 20px;
	width:288px;
}
/* Оформление первого уровня */
.window.catalog > ul > li.title {
    background: #004f8a;
	display: block;
	padding: 0 10px;
	border-radius: 18px;
	height: 35px;
	margin-bottom: 10px;
	width: auto;
}
.window.catalog > ul > li.title > a {
	font: 17px/35px "DisplayMedium";
	text-decoration: none;
	padding: 0;
}
/* Оформление второго уровня */
.window.catalog > ul > li {
	padding-left: 15px;
	padding-bottom: 10px;
}
.window.catalog > ul > li > a {
	font: 15px/20px "Display";
	color: #fff;
}
/* Оформление третьего уровня */
.window.catalog > ul > li > ul {
	padding-left: 25px;
	list-style: none;
}
.window.catalog > ul > li > ul a {
	font: 14px/24px "Display";
    color: #66ccff;
}
/* Каталог товаров */
section main.products {
	width: 700px;
}
/* Список категорий */
.products .category {
	padding: 15px 0 15px 0;
}
.category span {
	display: block;
	float: left;
	margin: 0 5px 10px 0;
}
.category span a {
	display: block;
	padding: 0 15px;
	font: 14px/30px "Display";
	color: #333333;
	text-decoration: none;
	height: 30px;
	border: 1px solid #d3d8dc;
	border-radius: 15px;
	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
}
.category span a:hover,
.control .pagination span a:hover,
.control .view span a:hover,
.sortBy div.how span a:hover {
	border: 1px solid  #a5e3fc;
}
.products .category span a:active,
.control .pagination span a:active,
.control .view span a:active,
.sortBy div.how span a:active {
	border: 1px solid #bbc2c9;
	background: #e9ecef;
	box-shadow: inset 0 2px 5px #b3bbc2;
}
.products .category span.current a {
	color: #347092;
	background: #d6e9f0;
	box-shadow: inset 0 1px 4px 0 #a9c6d1;
}
/* Блок управления списком товаров */
.products .control {
	border-top: 1px solid #dde1e5;
	border-bottom: 1px solid #dde1e5;
}
/* Постраничная навигация */
.control .pagination {
	padding: 10px 0;
}
.control .pagination span {
	display: block;
	float: left;
	margin-right: 7px;
}
.control .pagination span a {
	font: 13px/23px "Display";
	color: #4d4d4d;
	width: 23px;
	height: 23px;
	display: block;
	text-decoration: none;
	text-align: center;
	border: 1px solid #d3d8dc;
	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
	border-radius: 2px;
}
.control .pagination span.prev a {
	background:url(/images/pagination.png) no-repeat 8px 7px;
}
.control .pagination span.next a {
	background:url(/images/pagination.png) no-repeat -31px 7px;
}
/* Вид */
.control .view {
	padding: 10px 0;
}
.control .view span {
	display: block;
	float: left;
}
.control .view span a {
	font: 13px/23px "Display";
	color: #4d4d4d;
	width: 23px;
	height: 23px;
	display: block;
	text-decoration: none;
	text-align: center;
	border: 1px solid #d3d8dc;
	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
}
.control .view span.view1 {
	border-radius: 2px 0 0 2px;
}
.control .view span.view3 {
	border-radius: 0 2px 2px 0;
}
.control .view span.view1 a {
	background: url(/images/view.png) no-repeat 5px 7px;
}
.control .view span.view2 a {
	background: url(/images/view.png) no-repeat -21px 7px;
}
.control .view span.view3 a {
	background: url(/images/view.png) no-repeat -43px 7px;
}
.control .view span.view1.current a {
	background: #d6e9f0 url(/images/view.png) no-repeat 5px -14px;
}
.control .view span.view2.current a {
	background: #d6e9f0 url(/images/view.png) no-repeat -21px -14px;
}
.control .view span.view3.current a {
	background: #d6e9f0 url(/images/view.png) no-repeat -43px -14px;
}
/* Сортировка */
.sortBy {
	margin-top: 10px;
}
.sortBy div.how {
	font: 13px/25px "Display";
	color: #333333;
}
.sortBy div.how span {
	display: block;
	float: left;
	margin-left: 7px;
	position: relative;
}
.sortBy div.how span a {
	font: 13px/23px "Display";
	color: #4d4d4d;
	padding: 0 15px 0 5px;
	height: 23px;
	display: block;
	text-decoration: none;
	text-align: center;
	border: 1px solid #d3d8dc;
	border-radius: 2px;
	background: #fafbfc;
	background: -moz-linear-gradient(top,  #fafbfc 0%, #e9ecf0 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafbfc), color-stop(100%,#e9ecf0));
	background: -webkit-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -o-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: -ms-linear-gradient(top,  #fafbfc 0%,#e9ecf0 100%);
	background: linear-gradient(to bottom,  #fafbfc 0%,#e9ecf0 100%);
}
.sortBy div.how span a:after {
	display: block;
	position: absolute;
	top: 0;
	right: 5px;
	content: "";
	width: 100%;
	height: 100%;
	background: url(/images/dArrow2.png) no-repeat right center;
}
.sortBy div.how span.rev a:after {
	background:url(/images/dArrow2rev.png) no-repeat right center;
}
/* Список сравнения */
.sortBy div.compareList {
	display: block;
	margin-right: 7px;
	border: 1px solid #d3d8dc;
	background: #f7f9fa;
	border-radius: 2px;
}
.sortBy div.compareList a {
	font: 13px/23px "Display";
	color: #999999;
	padding: 0 10px;
	height: 23px;
	display: block;
	text-decoration: none;
	text-align: center;
}
.sortBy div.compareList.active {
	border: 1px solid #8fb338;
	background: #bad000;
	background: -moz-linear-gradient(top,  #bad000 0%, #5d8f00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bad000), color-stop(100%,#5d8f00));
	background: -webkit-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: -o-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: -ms-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: linear-gradient(to bottom,  #bad000 0%,#5d8f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad000', endColorstr='#5d8f00',GradientType=0 );
}
.sortBy div.compareList.active a {
	color: #fff;
}
/* Элементы каталога */
.products article {
	width: 132px;
	margin: 20px 55px 25px 0;
	float: left;
}
.products article.last {
	margin-right: 0;
}
.products article label {
	font: 14px "Display";
	color: #666;
}
.products article label input[type="checkbox"] {
	margin-bottom: 8px;
	margin-right: 8px;
}
.products article a.img {
	display: table-cell;
	width: 130px;
	height: 140px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d0d6db;
	background: #fff;
	outline: 1px solid red;
}
.products article a img {
	width: 110px;
	height: 120px;
	padding: 10px;
	outline: 1px solid green;
}
.products article a.title {
	display: block;
	font: 14px/18px "Display";
	margin-top: 10px;
	margin-bottom: 10px;
	height: 54px;
	overflow: hidden;
}
.products article span.price {
	font: 24px "DisplayBold";
	color: #333;
	display: block;
	padding-bottom: 10px;
}
.products article .cart {
	display: block;
	width: 54px;
	height: 36px;
	background: url(/images/cartHover.png) no-repeat -1px -1px;
}
.products article .cart.hover,
.products article .cart:hover {
	display: block;
	width: 54px;
	height: 36px;
	background: url(/images/cartHover.png) no-repeat -1px -43px;
}
.products article .cart:active {
	background: url(/images/cartHover.png) no-repeat -1px -85px;
}
.products article .have {
	width: 65px;
	font: 12px/18px Arial;
}
/* Умный фильтр */
section aside.filter {
	width: 170px;
}
section aside div.filter {
	border: 1px solid #c1c9cf;
	background: #e0e8ed;
	border-radius: 2px;
}
aside div.filter h3 {
	font: 13px/32px "DisplayBold";
	text-transform:uppercase;
	color: #333333;
	text-align: center;
	border-bottom: 1px solid #c2cdd5;
}
aside div.filter .acc {
	border-bottom: 1px solid #c2cdd5;
	padding: 0 8px 0 12px;
}
aside div.filter .acc > a {
	  font: 14px/20px "DisplayBold";
	  padding: 6px 0 6px;
	  color: #333333;
	  text-decoration: none;
	  display: block;
	  background: url(/images/Arrows.png) no-repeat right -34px;
}
aside div.filter .acc > a.current {
	background:url(/images/Arrows.png) no-repeat right 13px;
}
aside div.filter .formCost {
	margin-bottom: 15px;
}
aside div.filter .formCost label {
	font: 13px "Display";
	color: #666666;
}
aside div.filter .formCost input {
	color: #000000;
	width: 45px;
	padding: 0;
	text-align: center;
	font-style: normal;
}
aside div.filter .btn {
	margin: 15px;
	text-align: center;
}
aside div.filter .btn input {
	width: 140px;
}
aside div.filter .btn input[type="submit"] {
	margin-bottom: 10px;
}
aside div.filter .made label {
	display: block;
	margin: 10px 0;
	font: 14px "Display";
	color: #666666;
}
aside div.filter .made input[type="checkbox"] {
	margin-right: 10px;
}
/* Производитель */
aside.filter .brand h3 {
	margin-bottom: 15px;
	font: 18px "DisplayMedium";
	color: #333333;
}
aside.filter .brand img {
	padding: 5px;
	background: #ffffff;
	border: 1px solid #d0d6db;
}
aside.filter .brand div.courier {
	margin: 15px 0 0;
	font: 18px/24px "DisplayMedium";
	color: #333333;
}
aside.filter .brand div.courier span {
	width: 32px;
	height: 24px;
	display: block;
	float: left;
	margin-right: 20px;
	background:url(/images/courier.png);
}
/* Вы смотрели */
section aside div.watch {
	margin-top: 15px;
	padding-top: 15px;
	border: 1px solid #c8cfd5;
	border-radius: 2px;
	background: #fff;
}
aside div.watch h3 {
	font: 13px "DisplayBold";
	text-transform: uppercase;
	color: #333333;
	margin-left: 15px;
}
aside div.watch article {
	padding: 15px;
	border-bottom: 1px solid #c8cfd5;
}
aside div.watch article .img {
	display: table-cell;
	width: 130px;
	height: 140px;
	text-align: center;
	vertical-align: middle;
	border: 1px solid #d0d6db;
	background: #ffffff;
}
aside div.watch article img {
	width: 130px;
	height: 140px;
}
aside div.watch article .title {
	font: 16px/20px "Display";
}
aside div.watch article .btn {
	margin: 15px;
}
/* Страница товара */
section main.product {
	width: 744px;
}
main.product .productItem {
	padding: 22px 0 20px;
	border-top: 1px solid #dde1e5;
	border-bottom: 1px solid #dde1e5;
}
/* Картинка товара */
.productItem .box {
	width: 375px;
	height: 290px;
}
.productItem .box div.img {
	width: 290px;
	height: 290px;
	outline: 1px solid #d0d6db;
}
.productItem .box div img {
	width: 290px;
	height: 290px;
}
.productItem .box div.img:hover {
	outline: 2px solid #b8ce00;
}
.productItem .box ul.images {
	width: 75px;
	height: 290px;
}
.productItem .box li a img {
	width: 70px;
	height: 65px;
	margin-bottom: 5px;
}
.productItem .box li a img:hover,
.productItem .box li a img.current {
	outline: 2px solid #b8ce00;
}
/* Описание товара */
.productItem .desc {
	width: 355px;
	height: 290px;
}
.productItem .desc p {
	margin-bottom: 9px;
}
.productItem .desc .articul {
	font: 12px/18px "Display";
	color: #929494;
}
.productItem .desc .compareBlock {
	margin-top: 50px;
	padding-bottom: 15px;
	border-bottom: 1px solid #dde1e5;
}
.productItem .desc .compareBlock div a {
	height: 23px;
	padding: 0 10px;
	border: 1px solid #999999;
	border-radius: 2px;
	font: 13px/23px "Display";
	color: #999999;
	display: block;
	text-decoration: none;
	text-align: center;
}
.productItem .desc .compareBlock div.active a {
	color: #ffffff;
	border: 1px solid #8fb338;
	background: #bad000;
	background: -moz-linear-gradient(top,  #bad000 0%, #5d8f00 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bad000), color-stop(100%,#5d8f00));
	background: -webkit-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: -o-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: -ms-linear-gradient(top,  #bad000 0%,#5d8f00 100%);
	background: linear-gradient(to bottom,  #bad000 0%,#5d8f00 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bad000', endColorstr='#5d8f00',GradientType=0 );
}
.compareBlock div.nal {
	font: 13px/19px "Display";
	margin-right: 25px;
	position: relative;
	top: 5px;
}
.compareBlock div.nal.yes {
	color: #629300;
}
.compareBlock div.nal.no {
	color: #cc6666;
}
.compareBlock label {
	font: 13px/19px "Display";
	color: #333;
	position: relative;
	top: 5px;
}
.compareBlock input[type="checkbox"] {
	margin-right: 7px;
}
.priceBlock .price {
	font: 14px/19px "Display";
	color: #333;
	margin: 15px 25px 0 0;
}
.priceBlock .price span {
	display: block;
	font: 30px "DisplayBold";
}
.priceBlock .price span.usd {
	display: inline-block;
	color: #adadad;
	font-weight: normal;
	font: 13px/19px "Display";
	padding-left: 15px;
}
.actionBlock .countBlock {
	margin-right: 15px;
}
/* Описание товара */
main.product #tabs_wrapper {
	margin-top: 15px;
}
/*  */







