div.error403, div.error404, div.error500, div.error400 {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    background-repeat: no-repeat;
}
.error403 {
    background-image: url(/images/403.png);
}
.error404 {
    background-image: url(/images/404.png);
}
.error500 {
    background-image: url(/images/500.png);
}
.error400 {
    background-image: url(/images/400.png);
}