.jcarousel-wrapper {
    margin: 0 auto;
    position: relative;
}
/** Carousel **/
.jcarousel {
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}
.jcarousel ul {
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}
.jcarousel li {
    width: 200px;
    float: left;
}
.jcarousel img {
    display: block;
    max-width: 100%;
    height: auto !important;
}
/** Carousel Controls **/
.jcarousel-wrapper a {
    background-color: #016DAB;
}
.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 50%;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff;
    text-decoration: none;
    border: 6px solid #f7f9fa;
    text-shadow: 0 0 1px #000;
    font: 24px/27px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 4px #F0EFE7;
    -moz-box-shadow: 0 0 4px #F0EFE7;
    box-shadow: 0 0 4px #F0EFE7;
}
.jcarousel-control-prev {
    left: -22px;
    background:url(/images/slideArrows.png) no-repeat 9px -43px;
}
.jcarousel-control-next {
    right: -22px;
    background:url(/images/slideArrows.png) no-repeat 11px 8px;
}
a.jcarousel-control-prev:hover,
a.jcarousel-control-next:hover {
    box-shadow: inset 0px 1px 4px 1px #26b1da;
}
a.jcarousel-control-prev:active,
a.jcarousel-control-next:active {
    box-shadow: inset 0px 1px 4px 1px #025997;
}
/** Carousel Pagination **/
.jcarousel-pagination {
    position: absolute;
    bottom: 15px;
    left: 50px;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    margin: 0;
}
.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    height: 8px;
    width: 8px;
    line-height: 12px;
    border: 2px solid #CCD2D5;
    border-radius: 8px;
    text-indent: -9999px;
    margin-right: 7px;
    background: #b7c1c5;
    background: -moz-linear-gradient(top,  #b7c1c5 0%, #e4e6e8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b7c1c5), color-stop(100%,#e4e6e8));
	background: -webkit-linear-gradient(top,  #b7c1c5 0%,#e4e6e8 100%);
	background: -o-linear-gradient(top,  #b7c1c5 0%,#e4e6e8 100%);
	background: -ms-linear-gradient(top,  #b7c1c5 0%,#e4e6e8 100%);
	background: linear-gradient(to bottom,  #b7c1c5 0%,#e4e6e8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7c1c5', endColorstr='#e4e6e8',GradientType=0 );
}
.jcarousel-pagination a.active {
    background: #028ec2;
    color: #fff;
    opacity: 1;
    -webkit-box-shadow: 0 0 2px #F0EFE7;
    -moz-box-shadow: 0 0 2px #F0EFE7;
    box-shadow: 0 0 2px #F0EFE7;
}
.jcarousel-pagination a:hover {
	background: #1f95c5;
	background: -moz-linear-gradient(top,  #1f95c5 1%, #00518f 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#1f95c5), color-stop(100%,#00518f));
	background: -webkit-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: -o-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: -ms-linear-gradient(top,  #1f95c5 1%,#00518f 100%);
	background: linear-gradient(to bottom,  #1f95c5 1%,#00518f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f95c5', endColorstr='#00518f',GradientType=0 );
}
/* Описание товара */
.item {
    position: relative;
}
.item .box {
    width: 280px;
    position: absolute;
    bottom: 20px;
    right: 65px;
    padding: 15px 20px 60px;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.75) 0%, rgba(255,255,255,0.75) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0.75)), color-stop(100%,rgba(255,255,255,0.75)));
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%);
    background: -o-linear-gradient(top,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%);
    background: -ms-linear-gradient(top,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%);
    background: linear-gradient(to bottom,  rgba(255,255,255,0.75) 0%,rgba(255,255,255,0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfffffff', endColorstr='#bfffffff',GradientType=0 );
    border-radius: 3px;
    box-shadow: 0 2px 6px 0 #cbcac5;
}
.box .title, .box .title:active, .box .title:hover {
    font: 23px "DisplayMedium";
    color: #006ca9;
    text-decoration: none;
    background: none;
}
a .box .title:active, a .box .title:hover {
    font: 23px "DisplayMedium";
    color: #006ca9;
    text-decoration: none;
    background: none;
}
.box .text {
    font: 17px "Display";
    color: #333;
    margin: 10px 0;
}
.box .price {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font: 28px "DisplayBold";
    color: #333;
}
.box .btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #0B67A5;
}